<div class="profile-container">
  <div *ngIf="authService.isLoading">
    <div class="placeholder">
      <app-spinner></app-spinner>
    </div>
  </div>

  <div class="authBlock">
    <h3>Register</h3>

    <form action="" role="form" #registerForm="ngForm">
      <div class="formGroup">
        <label>Email</label>
        <input class="form-control" placeholder="Email" type="email" ngModel name="username" #userEmail required>
      </div>

      <div class="formGroup">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" ngModel name="password" #userPwd required>
      </div>

      <input type="button" class="btn btn-block btn-primary mb-2" value="isAdmin" (click)=isAdmin()><span>
        <p>{{ admin }}</p>
      </span>

      <div class="formGroup">
        <input type="button" class="btn btn-block btn-primary" value="Sign Up" [disabled]="!registerForm.valid"
          (click)="authService.signup(userEmail.value, userPwd.value, admin)">

        <div class="redirectToLogin">
          <span>Already have an account? <span class="redirect" routerLink="/signin">Log In</span></span>
        </div>
      </div>
    </form>

    <!-- errorMessage -->
    <div *ngIf="authService.errorMessage" class="alert alert-warning alert-dismissible fade show" role="alert">
      <p>{{ authService.errorMessage }}</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

  </div>
</div>
