<app-navbar></app-navbar>

<div class="container m-2">
  <h1 class="display-5">Cart</h1>
  <!-- Products -->
  <div *ngFor="let product of products" class="d-flex flowx-row justify-content-center">
    <div class="card mt-4 p-2" style="width: 18rem;">
      <img src="{{ product.imageUrl }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" #buttonProduct>{{ product.product}}</h5>
        <p class="card-text">{{ product.description}}</p>
        <button class="btn btn-primary" (click)="addProductToCart(product.key)">Add to cart</button>
      </div>
    </div>
  </div>

