<app-navbar></app-navbar>
<div class="container">
  <hr>
  <button type="button" class="btn btn-primary" routerLink="/add-category">Add category</button>
  <h1>Add products</h1>
  <hr>
  <div class="row">
    <div class="col">
      <form>

        <div class="mb-3">
          <label for="productName" class="form-label">Product name</label>
          <input type="text" class="form-control" id="productName" placeholder="productName" ngModel name="category"
            #productName required>
        </div>

        <div class="mb-3">
          <label for="quantity" class="form-label">Quantity</label>
          <input type="number" class="form-control" id="quantity" ngModel name="quantity" #quantity
            required>
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" id="price" ngModel name="price" #price
            required>
        </div>

        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <select class="form-select" aria-label="Default select example" name="selectedFacilityId" ng-model="selectedFacilityId" #category>
            <option *ngFor="let category of categories" value="{{category.key}}">{{ category.category}}</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="imageUrl" class="form-label">Image url</label>
          <input type="text" class="form-control" id="imageUrl" placeholder="Image URL" ngModel name="imageUrl"
            #imageUrl required>
        </div>

        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description</label>
          <textarea type="text" class="form-control" id="exampleFormControlTextarea1" rows="3"
            placeholder="A short description" ngModel name="description" #description required></textarea>
        </div>

        <button type="btn" class="btn btn-primary"
          (click)="createProduct(productName.value, 4, description.value, imageUrl.value, category.value, 3000)">Add
          product</button>
      </form>
    </div>
  </div>

</div>
